.repo-container {
  width: 500px;
  padding: 20px;
  border: 1px solid #eee;
  margin-top: 10px;
}

.repositories-container {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
